<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>PEt Shop</title>
     <link rel="stylesheet" href="css/style.css">
</head>
<body>
     <header>
          <h1>Minha Pet Shop</h1>
          <nav>
               <li><a href="/servicos">Servicos</a></li>
               <li><a href="/agendamento">Agendamento</a></li>
          </nav>
     </header>
